.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
  height: 40px;
  text-align: center;
  font-family: 'FuturaPT';
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  border-radius: 88px;
  cursor: pointer;
}
.title {
  color: #11172E;
  font-family: 'FuturaPT';
  font-size: 46px;
  font-weight: 700;
  line-height: 126%;
}
@media (max-width: 1030px) {
  .title {
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  .title {
    font-size: 32px;
  }
}
.input {
  height: 64px;
  padding: 0 20px;
  border-radius: 16px;
  font-family: 'FuturaPT';
  font-size: 14px;
  font-weight: 500;
  line-height: 126%;
}
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.input-phone {
  padding-left: 52px;
  background-repeat: no-repeat;
  background-position: 20px center;
}
.costs-excluding {
  display: grid;
  grid-area: costs-excluding;
  grid-template-areas: 'title title' 'costs-excluding-furniture-list sofa';
  gap: 12px 0;
  padding: 20px 24px;
  border-radius: 12px;
  background-color: #323540;
}
@media (max-width: 1100px) {
  .costs-excluding {
    width: 366px;
    margin-left: -60px;
  }
}
@media (max-width: 950px) {
  .costs-excluding {
    width: initial;
    margin-left: 0;
  }
}
@media (max-width: 500px) {
  .costs-excluding {
    padding: 20px 20px;
  }
}
.costs-excluding__title {
  max-width: 225px;
  grid-area: title;
  color: #F0F0F0;
  font-family: 'FuturaPT';
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
}
@media (max-width: 950px) {
  .costs-excluding__title {
    max-width: initial;
  }
}
.costs-excluding__img {
  grid-area: sofa;
  width: 224px;
}
@media (max-width: 1100px) {
  .costs-excluding__img {
    position: relative;
    top: 40px;
    width: 277px;
  }
}
@media (max-width: 950px) {
  .costs-excluding__img {
    top: 30px;
    justify-self: end;
    align-self: flex-end;
  }
}
@media (max-width: 600px) {
  .costs-excluding__img {
    right: -40px;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .costs-excluding__img {
    right: -10px;
  }
}
@media (max-width: 400px) {
  .costs-excluding__img {
    width: 114px;
    position: absolute;
    top: 5px;
    right: 7px;
  }
}
