.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
  height: 40px;
  text-align: center;
  font-family: 'FuturaPT';
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  border-radius: 88px;
  cursor: pointer;
}
.title {
  color: #11172E;
  font-family: 'FuturaPT';
  font-size: 46px;
  font-weight: 700;
  line-height: 126%;
}
@media (max-width: 1030px) {
  .title {
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  .title {
    font-size: 32px;
  }
}
.input {
  height: 64px;
  padding: 0 20px;
  border-radius: 16px;
  font-family: 'FuturaPT';
  font-size: 14px;
  font-weight: 500;
  line-height: 126%;
}
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.input-phone {
  padding-left: 52px;
  background-repeat: no-repeat;
  background-position: 20px center;
}
.design-project-cost {
  background-color: #EFF2FD;
}
.design-project-cost__body {
  display: grid;
  grid-template-columns: 1fr 266px;
  gap: 40px;
  grid-template-areas: 'title wrapper-price' 'design-project-cost-list design-project-cost-list';
  background-color: #fff;
  padding: 56px;
  border-radius: 20px;
  border: 2px solid #E4E8F7;
}
@media (max-width: 1030px) {
  .design-project-cost__body {
    padding: 56px 40px;
  }
}
@media (max-width: 800px) {
  .design-project-cost__body {
    grid-template-columns: 1fr;
    grid-template-areas: 'wrapper-price' 'title' 'design-project-cost-list';
    gap: 0;
  }
}
@media (max-width: 430px) {
  .design-project-cost__body {
    padding: 20px 20px 48px 20px;
  }
}
.design-project-cost__title {
  grid-area: title;
  color: #11172E;
  font-family: 'FuturaPT';
  font-size: 46px;
  font-weight: 700;
  line-height: 126%;
}
@media (max-width: 1030px) {
  .design-project-cost__title {
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  .design-project-cost__title {
    font-size: 32px;
  }
}
@media (max-width: 800px) {
  .design-project-cost__title {
    margin-top: 32px;
  }
}
.design-project-cost__wrapper-price {
  position: relative;
  grid-area: wrapper-price;
  display: grid;
  grid-template-columns: 75px 1fr;
  grid-template-areas: 'current-price old-price' 'text text';
  width: 275px;
  height: 90px;
  justify-self: end;
  padding: 16px 24px;
  background-color: #F7921C;
  border-radius: 20px;
  gap: 0 8px;
}
@media (max-width: 800px) {
  .design-project-cost__wrapper-price {
    justify-self: start;
  }
}
@media (max-width: 430px) {
  .design-project-cost__wrapper-price {
    width: 220px;
    padding: 16px 20px;
  }
}
.design-project-cost__wrapper-price::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: calc(50% - 21.5px);
  transform: translateY(calc(100% - 0.4px));
  width: 43px;
  height: 10px;
  background-image: url('../img/design-project/personal-design-project-in-dubai/corner.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.design-project-cost__current-price {
  align-self: center;
  grid-area: current-price;
  color: #FFF;
  font-family: 'FuturaPT';
  font-size: 20px;
  font-weight: 500;
  line-height: 126%;
}
.design-project-cost__old-price,
.design-project-cost__text {
  grid-area: old-price;
  color: #FFF;
  font-family: 'FuturaPT';
  font-size: 14px;
  font-weight: 400;
  line-height: 126%;
}
@media (max-width: 430px) {
  .design-project-cost__old-price,
  .design-project-cost__text {
    font-size: 12px;
  }
}
.design-project-cost__old-price {
  text-decoration-line: line-through;
  align-self: center;
}
.design-project-cost__text {
  grid-area: text;
  align-self: start;
}
