.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
  height: 40px;
  text-align: center;
  font-family: 'FuturaPT';
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  border-radius: 88px;
  cursor: pointer;
}
.title {
  color: #11172E;
  font-family: 'FuturaPT';
  font-size: 46px;
  font-weight: 700;
  line-height: 126%;
}
@media (max-width: 1030px) {
  .title {
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  .title {
    font-size: 32px;
  }
}
.input {
  height: 64px;
  padding: 0 20px;
  border-radius: 16px;
  font-family: 'FuturaPT';
  font-size: 14px;
  font-weight: 500;
  line-height: 126%;
}
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.input-phone {
  padding-left: 52px;
  background-repeat: no-repeat;
  background-position: 20px center;
}
.faq__title {
  color: #11172E;
  font-family: 'FuturaPT';
  font-size: 46px;
  font-weight: 700;
  line-height: 126%;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 1030px) {
  .faq__title {
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  .faq__title {
    font-size: 32px;
  }
}
.faq-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(33.333% - 40px), 1fr));
  gap: 56px 40px;
  margin-top: 56px;
}
@media (max-width: 1030px) {
  .faq-list {
    grid-template-columns: repeat(auto-fill, minmax(calc(50% - 40px), 1fr));
  }
}
@media (max-width: 600px) {
  .faq-list {
    grid-template-columns: repeat(auto-fill, minmax(calc(100% - 40px), 1fr));
  }
}
.faq-list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.faq-list-item__number {
  position: absolute;
  z-index: -1;
  top: -40px;
  left: calc(50% - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  color: #EFF2FD;
  font-family: 'FuturaPT';
  font-size: 120px;
  font-weight: 450;
  line-height: 100%;
}
.faq-list-item__title,
.faq-list-item__description {
  color: #11172E;
  font-family: 'FuturaPT';
  font-size: 16px;
  line-height: 126%;
}
.faq-list-item__description {
  font-weight: 400;
}
.faq-list-item__list-item {
  color: #262830;
  font-family: 'FuturaPT';
  font-size: 16px;
  font-weight: 400;
  line-height: 126%;
}
.faq-list-item__list-item:not(:last-child) {
  display: flex;
  align-items: start;
}
.faq-list-item__list-item:not(:last-child)::before {
  content: '';
  display: inline-block;
  margin-right: 5px;
  margin-top: 7px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #000;
}
.faq-list-item__link {
  color: #CE1A30;
  font-family: 'FuturaPT';
  font-size: 16px;
  font-weight: 400;
  line-height: 126%;
  border-bottom: solid 1px;
}
