.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
  height: 40px;
  text-align: center;
  font-family: 'FuturaPT';
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  border-radius: 88px;
  cursor: pointer;
}
.title {
  color: #11172E;
  font-family: 'FuturaPT';
  font-size: 46px;
  font-weight: 700;
  line-height: 126%;
}
@media (max-width: 1030px) {
  .title {
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  .title {
    font-size: 32px;
  }
}
.input {
  height: 64px;
  padding: 0 20px;
  border-radius: 16px;
  font-family: 'FuturaPT';
  font-size: 14px;
  font-weight: 500;
  line-height: 126%;
}
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.input-phone {
  padding-left: 52px;
  background-repeat: no-repeat;
  background-position: 20px center;
}
.footer {
  border-top: 1px solid #E4E8F7;
  background-color: #EFF2FD;
}
.container-footer {
  display: grid;
  grid-template-columns: 88px minmax(auto, 265px) minmax(auto, 265px) minmax(auto, 265px);
  gap: 40px 88px;
}
@media (max-width: 800px) {
  .container-footer {
    grid-template-columns: 1fr;
  }
}
.footer-nav-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-nav-menu__item {
  font-family: 'FuturaPT';
  font-size: 14px;
  font-weight: 400;
  line-height: 148%;
}
.footer-nav-menu__item:first-child {
  color: #B3B9D1;
  font-family: 'FuturaPT';
  font-size: 14px;
  font-weight: 500;
  line-height: 126%;
  letter-spacing: 0.56px;
  text-transform: uppercase;
}
.footer-nav-menu__link {
  color: #262830;
  font-family: 'FuturaPT';
  font-size: 14px;
  font-weight: 400;
  line-height: 148%;
}
