.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
  height: 40px;
  text-align: center;
  font-family: 'FuturaPT';
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  border-radius: 88px;
  cursor: pointer;
}
.title {
  color: #11172E;
  font-family: 'FuturaPT';
  font-size: 46px;
  font-weight: 700;
  line-height: 126%;
}
@media (max-width: 1030px) {
  .title {
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  .title {
    font-size: 32px;
  }
}
.input {
  height: 64px;
  padding: 0 20px;
  border-radius: 16px;
  font-family: 'FuturaPT';
  font-size: 14px;
  font-weight: 500;
  line-height: 126%;
}
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.input-phone {
  padding-left: 52px;
  background-repeat: no-repeat;
  background-position: 20px center;
}
.furni-information-list {
  margin-top: 40px;
}
.furni-information-list__body {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 20px;
}
.furni-information-list__item {
  display: grid;
  grid-template-columns: 1fr 36px;
  grid-template-areas: 'text toggle-text' 'sub-text sub-text';
  gap: 12px 8px;
  padding: 16px 0;
  border-bottom: solid 1px #E4E8F7;
}
.furni-information-list__text {
  grid-area: text;
  color: #11172E;
  font-family: 'FuturaPT';
  font-size: 24px;
  font-weight: 400;
  line-height: 126%;
}
@media (max-width: 450px) {
  .furni-information-list__text {
    font-size: 20px;
  }
}
@media (max-width: 360px) {
  .furni-information-list__text {
    font-size: 16px;
  }
}
.furni-information-list__text.warranty {
  font-weight: 700;
  margin-top: 20px;
}
.furni-information-list__sub-text {
  display: none;
}
.furni-information-list__paragraph,
.furni-information-list__sub-text {
  grid-area: sub-text;
  color: #262830;
  font-family: 'FuturaPT';
  font-size: 20px;
  font-weight: 400;
  line-height: 126%;
}
.furni-information-list__toggle-text {
  align-items: start;
  grid-area: toggle-text;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-image: url('../icon/common/plus.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: 0.2s;
}
.furni-information-list__toggle-text:hover {
  background-color: #CE1A30;
  background-image: url('../icon/common/plus-white.svg');
}
.furni-information-list__toggle-text.active + .furni-information-list__sub-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.furni-information-list__toggle-text.active {
  transform: rotate(-45deg);
}
.furni-information-list__toggle-text.active:hover {
  background-image: url('../icon/common/plus-white.svg');
}
