.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
  height: 40px;
  text-align: center;
  font-family: 'FuturaPT';
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  border-radius: 88px;
  cursor: pointer;
}
.title {
  color: #11172E;
  font-family: 'FuturaPT';
  font-size: 46px;
  font-weight: 700;
  line-height: 126%;
}
@media (max-width: 1030px) {
  .title {
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  .title {
    font-size: 32px;
  }
}
.input {
  height: 64px;
  padding: 0 20px;
  border-radius: 16px;
  font-family: 'FuturaPT';
  font-size: 14px;
  font-weight: 500;
  line-height: 126%;
}
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.input-phone {
  padding-left: 52px;
  background-repeat: no-repeat;
  background-position: 20px center;
}
.furnishing-project {
  display: grid;
  grid-template-columns: 1fr;
  padding: 121px 56px;
  border-radius: 20px;
  background-color: #F0F0F0;
}
@media (max-width: 1130px) {
  .furnishing-project {
    padding: 70px 32px;
  }
}
@media (max-width: 500px) {
  .furnishing-project {
    padding: 32px 20px;
    text-align: center;
  }
}
.furnishing-project__title {
  color: #11172E;
  font-family: 'FuturaPT';
  font-size: 46px;
  font-weight: 700;
  line-height: 126%;
}
@media (max-width: 1030px) {
  .furnishing-project__title {
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  .furnishing-project__title {
    font-size: 32px;
  }
}
.furnishing-project__description {
  margin-top: 24px;
  color: #262830;
  font-family: 'FuturaPT';
  font-size: 24px;
  font-weight: 400;
  line-height: 126%;
}
@media (max-width: 500px) {
  .furnishing-project__description {
    margin-top: 12px;
    font-size: 16px;
  }
}
.furnishing-project__link {
  color: #CE1A30;
  border-bottom: solid 1px;
}
.furnishing-project__button {
  margin-top: 34px;
  justify-self: start;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
  height: 40px;
  text-align: center;
  font-family: 'FuturaPT';
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  border-radius: 88px;
  cursor: pointer;
  color: #fff;
  background-color: #CE1A30;
}
@media (max-width: 500px) {
  .furnishing-project__button {
    justify-self: center;
  }
}
