.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
  height: 40px;
  text-align: center;
  font-family: 'FuturaPT';
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  border-radius: 88px;
  cursor: pointer;
}
.title {
  color: #11172E;
  font-family: 'FuturaPT';
  font-size: 46px;
  font-weight: 700;
  line-height: 126%;
}
@media (max-width: 1030px) {
  .title {
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  .title {
    font-size: 32px;
  }
}
.input {
  height: 64px;
  padding: 0 20px;
  border-radius: 16px;
  font-family: 'FuturaPT';
  font-size: 14px;
  font-weight: 500;
  line-height: 126%;
}
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.input-phone {
  padding-left: 52px;
  background-repeat: no-repeat;
  background-position: 20px center;
}
.furnishing-process-description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 32px;
  border: 2px solid #FFF;
}
@media (max-width: 768px) {
  .furnishing-process-description {
    border-radius: 0;
    border: none;
  }
}
.furnishing-process-description__title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  height: 76px;
  background-color: #E4E8F7;
  color: #11172E;
  font-family: 'FuturaPT';
  font-size: 24px;
  font-weight: 500;
  line-height: 27px;
}
.furnishing-process-description__title:first-child {
  border-right: 2px solid #EFF2FD;
}
.furnishing-process-description__title.by-yourself {
  border-radius: 32px 0 0 0;
}
.furnishing-process-description__title.with-furni {
  border-radius: 0 32px 0 0;
}
@media (max-width: 768px) {
  .furnishing-process-description__title.with-furni,
  .furnishing-process-description__title.by-yourself {
    border-radius: 0;
    border: none;
  }
}
.furnishing-process-description__name-chapter {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / span 2;
  text-align: center;
  height: 34px;
  background-color: #EFF2FD;
  color: #8B8B9E;
  font-family: 'FuturaPT';
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0.56px;
  text-transform: uppercase;
}
.furnishing-process-description__column {
  display: grid;
  grid-template-columns: 24px 1fr;
  grid-template-areas: 'icon name' 'icon period-of-time';
  gap: 4px 12px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
}
.furnishing-process-description__column:last-child {
  border-radius: 0 0 32px 0;
}
.furnishing-process-description__column:nth-of-type(13) {
  border-radius: 0 0 0 32px;
}
@media (max-width: 768px) {
  .furnishing-process-description__column:nth-of-type(13),
  .furnishing-process-description__column:last-child {
    border-radius: 0;
  }
}
.furnishing-process-description__column.by-yourself-column {
  padding-left: 20px;
  padding-right: 40px;
  border-right: 2px solid #EFF2FD;
}
.furnishing-process-description__column.with-furni-column {
  padding-left: 40px;
  padding-right: 20px;
}
@media (max-width: 500px) {
  .furnishing-process-description__column.with-furni-column,
  .furnishing-process-description__column.by-yourself-column {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.furnishing-process-description__icon {
  grid-area: icon;
}
.furnishing-process-description__name,
.furnishing-process-description__period-of-time {
  font-family: 'FuturaPT';
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}
.furnishing-process-description__name {
  color: #11172E;
  grid-area: name;
}
.furnishing-process-description__period-of-time {
  grid-area: period-of-time;
  color: #541ACE;
  font-weight: 400;
}
