.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
  height: 40px;
  text-align: center;
  font-family: 'FuturaPT';
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  border-radius: 88px;
  cursor: pointer;
}
.title {
  color: #11172E;
  font-family: 'FuturaPT';
  font-size: 46px;
  font-weight: 700;
  line-height: 126%;
}
@media (max-width: 1030px) {
  .title {
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  .title {
    font-size: 32px;
  }
}
.input {
  height: 64px;
  padding: 0 20px;
  border-radius: 16px;
  font-family: 'FuturaPT';
  font-size: 14px;
  font-weight: 500;
  line-height: 126%;
}
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.input-phone {
  padding-left: 52px;
  background-repeat: no-repeat;
  background-position: 20px center;
}
.make-a-request {
  position: relative;
  background-color: #0E0F12;
}
.make-a-request__title {
  color: #11172E;
  font-family: 'FuturaPT';
  font-size: 46px;
  font-weight: 700;
  line-height: 126%;
  color: #F0F0F0;
  text-align: center;
}
@media (max-width: 1030px) {
  .make-a-request__title {
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  .make-a-request__title {
    font-size: 32px;
  }
}
.make-a-request .design-project-title {
  color: #11172E;
}
.make-a-request__sub-title {
  margin-top: 16px;
  color: #E0E0E0;
  text-align: center;
  font-family: 'FuturaPT';
  font-size: 24px;
  font-weight: 400;
  line-height: 126%;
}
.make-a-request .design-project-sub-title {
  color: #262830;
}
.design-project-item {
  background-color: #fff;
}
.container-make-a-request {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.make-a-request-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  gap: 24px;
  width: 500px;
  max-width: 100%;
}
.make-a-request-form__input {
  height: 64px;
  padding: 0 20px;
  border-radius: 16px;
  font-family: 'FuturaPT';
  font-size: 14px;
  font-weight: 500;
  line-height: 126%;
  width: 100%;
  border: 2px solid #323540;
  background-color: #262830;
  color: #8B8B9E;
}
.make-a-request-form__input::-webkit-outer-spin-button,
.make-a-request-form__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.make-a-request-form__input::placeholder {
  color: #8B8B9E;
  font-family: 'FuturaPT';
  font-size: 14px;
  font-weight: 500;
  line-height: 126%;
}
.make-a-request-form .design-project-input {
  border: 2px solid #E4E8F7;
  background-color: #EFF2FD;
}
.make-a-request-form__input.error {
  border: 2px solid #c40f24;
}
.make-a-request-form__input.phone {
  padding-left: 52px;
  background-repeat: no-repeat;
  background-position: 20px center;
}
.make-a-request-form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
  height: 40px;
  text-align: center;
  font-family: 'FuturaPT';
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  border-radius: 88px;
  cursor: pointer;
  margin-top: 16px;
  background-color: #CE1A30;
  color: #fff;
}
.make-a-request-form__message-error {
  position: absolute;
  bottom: 30px;
  display: none;
  max-width: 240px;
  padding: 9px 20px;
  background-color: #CE1A30;
  border-radius: 12px;
  font-family: 'FuturaPT';
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
}
