.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
  height: 40px;
  text-align: center;
  font-family: 'FuturaPT';
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  border-radius: 88px;
  cursor: pointer;
}
.title {
  color: #11172E;
  font-family: 'FuturaPT';
  font-size: 46px;
  font-weight: 700;
  line-height: 126%;
}
@media (max-width: 1030px) {
  .title {
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  .title {
    font-size: 32px;
  }
}
.input {
  height: 64px;
  padding: 0 20px;
  border-radius: 16px;
  font-family: 'FuturaPT';
  font-size: 14px;
  font-weight: 500;
  line-height: 126%;
}
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.input-phone {
  padding-left: 52px;
  background-repeat: no-repeat;
  background-position: 20px center;
}
.payment__body {
  display: grid;
  grid-template-columns: 192px 1fr;
  justify-content: space-between;
  padding: 56px;
  gap: 96px;
  border-radius: 20px;
  border: 2px solid #E4E8F7;
  background-color: #EFF2FD;
}
@media (max-width: 800px) {
  .payment__body {
    gap: 50px;
  }
}
@media (max-width: 730px) {
  .payment__body {
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 32px 20px;
  }
}
.payment__title {
  color: #11172E;
  font-family: 'FuturaPT';
  font-size: 46px;
  font-weight: 700;
  line-height: 126%;
}
@media (max-width: 1030px) {
  .payment__title {
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  .payment__title {
    font-size: 32px;
  }
}
.payment__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.payment__paragraph,
.payment__text {
  color: #262830;
  font-family: 'FuturaPT';
  font-size: 16px;
  font-weight: 400;
  line-height: 126%;
}
