.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
  height: 40px;
  text-align: center;
  font-family: 'FuturaPT';
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  border-radius: 88px;
  cursor: pointer;
}
.title {
  color: #11172E;
  font-family: 'FuturaPT';
  font-size: 46px;
  font-weight: 700;
  line-height: 126%;
}
@media (max-width: 1030px) {
  .title {
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  .title {
    font-size: 32px;
  }
}
.input {
  height: 64px;
  padding: 0 20px;
  border-radius: 16px;
  font-family: 'FuturaPT';
  font-size: 14px;
  font-weight: 500;
  line-height: 126%;
}
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.input-phone {
  padding-left: 52px;
  background-repeat: no-repeat;
  background-position: 20px center;
}
.request-sent {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 16px;
  border-radius: 20px;
  background-color: #11172E;
  box-shadow: 0 8px 48px 0px rgba(0, 0, 0, 0.12);
  max-width: 682px;
  width: 100%;
  height: 508px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 530px) {
  .request-sent {
    height: 286px;
  }
}
.request-sent__title {
  color: #11172E;
  font-family: 'FuturaPT';
  font-size: 46px;
  font-weight: 700;
  line-height: 126%;
  font-size: 32px;
  color: #fff;
  text-align: center;
}
@media (max-width: 1030px) {
  .request-sent__title {
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  .request-sent__title {
    font-size: 32px;
  }
}
.request-sent__sub-title {
  margin-top: 12px;
  color: #E0E0E0;
  text-align: center;
  font-family: 'FuturaPT';
  font-size: 16px;
  font-weight: 400;
  line-height: 126%;
}
.request-sent__close {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
.request-sent.thanks-for-choosing-us {
  background-image: url('../img/modal-imgs/request-sent.png');
}
.request-sent.happy-shopping {
  background-image: url('../img/modal-imgs/shopping-list.png');
}
