.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
  height: 40px;
  text-align: center;
  font-family: 'FuturaPT';
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  border-radius: 88px;
  cursor: pointer;
}
.title {
  color: #11172E;
  font-family: 'FuturaPT';
  font-size: 46px;
  font-weight: 700;
  line-height: 126%;
}
@media (max-width: 1030px) {
  .title {
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  .title {
    font-size: 32px;
  }
}
.input {
  height: 64px;
  padding: 0 20px;
  border-radius: 16px;
  font-family: 'FuturaPT';
  font-size: 14px;
  font-weight: 500;
  line-height: 126%;
}
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.input-phone {
  padding-left: 52px;
  background-repeat: no-repeat;
  background-position: 20px center;
}
.services-furni {
  position: relative;
  display: grid;
  grid-template-columns: 88px 1fr;
  grid-template-areas: 'circle title' 'circle description';
  gap: 8px 24px;
  padding: 32px 40px;
  border-radius: 20px;
  border: 2px solid #E4E8F7;
  background-color: #FFF;
}
@media (max-width: 1220px) {
  .services-furni {
    grid-template-columns: 1fr;
    grid-template-areas: 'circle' 'title' 'description';
  }
}
@media (max-width: 520px) {
  .services-furni {
    padding: 24px 20px;
  }
}
.services-furni__circle {
  grid-area: circle;
  display: flex;
  width: 86px;
  height: 86px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #E4E8F7;
  border: 2px solid #FFF;
}
@media (max-width: 1220px) {
  .services-furni__circle {
    position: absolute;
    justify-self: end;
    margin-top: -43px;
    margin-right: -24px;
    width: 62px;
    height: 62px;
  }
}
@media (max-width: 520px) {
  .services-furni__circle {
    margin-top: -48px;
    margin-right: -30px;
  }
}
.services-furni__title {
  grid-area: title;
  color: #11172E;
  font-family: 'FuturaPT';
  font-size: 24px;
  line-height: 27px;
}
@media (max-width: 520px) {
  .services-furni__title {
    font-size: 18px;
    line-height: 21px;
  }
}
.services-furni__description {
  grid-area: description;
  color: #262830;
  font-family: 'FuturaPT';
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}
@media (max-width: 1220px) {
  .services-furni__description {
    font-size: 16px;
    line-height: 19px;
  }
}
@media (max-width: 520px) {
  .services-furni__description {
    font-size: 14px;
    line-height: 17px;
  }
}
.services-furni__img {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}
.services-item_1 {
  grid-area: services-item_1;
}
.services-item_2 {
  grid-area: services-item_2;
}
