@import url('./variables/main-variables.less');
@import url('./mixins/main.less');

.services-furni {
    position: relative;
    display: grid;
    grid-template-columns: 88px 1fr;
    grid-template-areas:
        'circle title'
        'circle description';
    gap: 8px 24px;
    padding: 32px 40px;
    border-radius: 20px;
    border: 2px solid #E4E8F7;
    background-color: #FFF;

    @media (max-width: 1220px) {
        grid-template-columns: 1fr;
        grid-template-areas:
            'circle'
            'title'
            'description';
    }

    @media (max-width: 520px) {
        padding: 24px 20px;
    }

    &__circle {
        grid-area: circle;
        display: flex;
        width: 86px;
        height: 86px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #E4E8F7;
        border: 2px solid #FFF;

        @media (max-width: 1220px) {
            position: absolute;
            justify-self: end;
            margin-top: -43px;
            margin-right: -24px;
            width: 62px;
            height: 62px;
        }

        @media (max-width: 520px) {
            margin-top: -48px;
            margin-right: -30px;
        }
    }

    &__title {
        grid-area: title;
        color: #11172E;
        font-family: @var-mainFont;
        font-size: 24px;
        line-height: 27px;

        @media (max-width: 520px) {
            font-size: 18px;
            line-height: 21px;
        }
    }

    &__description {
        grid-area: description;
        color: #262830;
        font-family: @var-mainFont;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;

        @media (max-width: 1220px) {
            font-size: 16px;
            line-height: 19px;
        }

        @media (max-width: 520px) {
            font-size: 14px;
            line-height: 17px;
        }
    }

    &__img {
        height: 100%;
        width: 100%;
        object-fit: scale-down;
    }
}

.services-item_1 {
    grid-area: services-item_1;
}

.services-item_2 {
    grid-area: services-item_2;
}